params {
  assayType = "cgh"
  input = "$launchDir/input/" 
  samplesheetFileName = "samplesheet.csv"
  outDir = "$launchDir/output"
  platformBamFile = "$launchDir/probes.bam"
  peakFinderArgs = "NA"
  seqSizeFile = "$launchDir/input/seqSizes.txt"
  profileSetName = "test profile set name"
}

process {
  maxForks = 4
}


includeConfig "$baseDir/conf/docker.config"
